@model ClassLibrary.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@{
    if (ViewBag.CreatePatient != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
           @ViewBag.CreatePatient
        </div>
    }

}

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <input asp-for="DPI" class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastConsultation" class="control-label"></label>
                <input asp-for="LastConsultation" class="form-control" />
                <span asp-validation-for="LastConsultation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextConsultation" class="control-label"></label>
                <input asp-for="NextConsultation" class="form-control" />
                <span asp-validation-for="NextConsultation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentDescription" class="control-label"></label>
                <input asp-for="TreatmentDescription" class="form-control" />
                <span asp-validation-for="TreatmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
