@model ClassLibrary.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


@{
    if (ViewBag.AddPatientToConsultationDay != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            @ViewBag.AddPatientToConsultationDay
        </div>
    }
}

@{
    string day = DateTime.Now.Day.ToString();
    string month = DateTime.Now.Month.ToString();
    if (DateTime.Now.Day < 10)
        day = day.Insert(0, "0");
    if (DateTime.Now.Month < 10)
        month = month.Insert(0, "0");

    string Today = $"{DateTime.Now.Year.ToString()}-{month}-{day}";
}



<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" readonly class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <input asp-for="DPI" readonly class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" readonly class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" readonly class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastConsultation" class="control-label"></label>
                <input asp-for="LastConsultation" readonly class="form-control" />
                <span asp-validation-for="LastConsultation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextConsultation" class="control-label"></label>
                @{
                    DateTime output;
                    if (Model != null && Model.NextConsultation == default)
                    {
                        output = Convert.ToDateTime(Today);
                    }
                    else if (Model != null)
                    {
                        output = Model.NextConsultation;
                    }
                }
                <input asp-for="NextConsultation" min="@Today" type="date" class="form-control" />
                <span asp-validation-for="NextConsultation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentDescription" class="control-label"></label>
                <input asp-for="TreatmentDescription" class="form-control" />
                <span asp-validation-for="TreatmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
